body {
  background-color: #231F20;
  color: white;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
}

#counterWrapper {
  width: 100%;
}

button {
  background-color: Transparent;
  color: white;
}

.start {
  border: none;
  font-size: 50px;
  border-radius: 25px;
}

.counter {
  display: inline-block;
  margin: 20px;
}

.plusminus {
  display: inline-block;
  font-size: 50px;
  border: none;
}

.plus {
  color: green;
}

.minus {
  color: red;
}

p {
  font-size: 20px;
}

#timer {
  background-color: green;
  text-align: center;
  height: 300px;
  width: 300px;
  font-size: 50px;
  border-radius: 360px;
  line-height: 300px;
  margin: 0 auto;
  color: white;
}